<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneySaver"
        tools:targetApi="31">
        <activity
            android:name=".ui.hello.HelloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.reset_password.AuthResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.sign_up.AuthSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.sign_in.AuthSignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category_editor.CategoryEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.qr_scanner.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bill_editor.BillEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction_editor.TransactionEditorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>